# Patterns :-
How many rows, How many coulmns and What to print ?

In [10]:
'''
* * * *
* * * *
* * * *
* * * *
'''

n=int(input())
i=1
while i<=n:
    j=1
    while j<=n:
        print("*",end=' ')
        j=j+1
    print()
    i=i+1

4
* * * *
* * * *
* * * *
* * * *

## Square Patterns :-

In [11]:
'''
1 1 1 1
2 2 2 2
3 3 3 3
4 4 4 4
'''

n=int(input())
i=1
while i<=n:
    j=1
    while j<=n:
        print(i,end=' ')
        j=j+1
    print()
    i=i+1

4
1 1 1 1
2 2 2 2
3 3 3 3
4 4 4 4

In [12]:
'''
1 2 3 4
1 2 3 4
1 2 3 4
1 2 3 4
'''

n=int(input())
i=1
while i<=n:
    j=1
    while j<=n:
        print(j,end=' ')
        j=j+1
    print()
    i=i+1

4
1 2 3 4
1 2 3 4
1 2 3 4
1 2 3 4

In [13]:
'''
4 3 2 1
4 3 2 1
4 3 2 1
4 3 2 1
'''

n=int(input())
i=1
while i<=n:
    j=n
    while j>=1:
        print(j,end=' ')
        j=j-1
    print()
    i=i+1

4
4 3 2 1
4 3 2 1
4 3 2 1
4 3 2 1

In [20]:
'''
(4.) Square Pattern :-
Print the following pattern for the given N number of rows.
Pattern for N = 4
4 4 4 4
4 4 4 4
4 4 4 4
4 4 4 4
'''
n=int(input())
i=1
while i<=n:
    j=1
    while j<=n:
        print(n,end=' ')
        j=j+1
    print()
    i=i+1

4
4 4 4 4
4 4 4 4
4 4 4 4
4 4 4 4

## Triangular Pattern :-

In [15]:
'''
1
1 2
1 2 3
1 2 3 4
'''
n=int(input())
i=1
while i<=n:
    j=1
    while j<=i:
        print(j,end=' ')
        j=j+1
    print()
    i=i+1

4
1
1 2
1 2 3
1 2 3 4

In [16]:
'''
1
2 3
3 4 5
4 5 6 7
'''
n=int(input())
i=1
while i<=n:
    j=i
    while j<=2*i-1:
        print(j,end=' ')
        j=j+1
    print()
    i=i+1

4
1
2 3
3 4 5
4 5 6 7

In [19]:
'''
1
2 3
4 5 6
7 8 9 10
'''
n=int(input())
i=1
k=1
while i<=n:
    j=1
    while j<=i:
        print(k,end=' ')
        k=k+1
        j=j+1
    print()
    i=i+1

4
1
2 3
4 5 6
7 8 9 10

In [21]:
'''
(6.) Triangular Star Pattern :-
Print the following pattern for the given N number of rows.
Pattern for N = 4
*
* *
* * *
* * * *
'''
n=int(input())
i=1
while i<=n:
    j=1
    while j<=i:
        print("*",end=' ')
        j=j+1
    print()
    i=i+1

4
*
* *
* * *
* * * *

In [22]:
'''
(7.) Triangular Number Pattern :-
Print the following pattern for the given N number of rows.
Pattern for N = 4
1
2 2
3 3 3
4 4 4 4
'''
n=int(input())
i=1
while i<=n:
    j=1
    while j<=i:
        print(i,end=' ')
        j=j+1
    print()
    i=i+1

4
1
2 2
3 3 3
4 4 4 4

In [23]:
'''
(8.) Reverse Number Pattern :-
Print the following pattern for the given N number of rows.
Pattern for N = 4
1
2 1
3 2 1
4 3 2 1
'''
n=int(input())
i=1
while i<=n:
    j=i
    while j>=1:
        print(j,end=' ')
        j=j-1
    print()
    i=i+1

4
1
2 1
3 2 1
4 3 2 1

## Character Patterns

In [7]:
#Print Kth Alphabet

k=int(input())
x=ord('A') # ord('A') ----> Order of A gives ASCII calue of A
ascii_target=x+k-1
ascii_char = chr(ascii_target)
print(ascii_char)

4
D

In [9]:
'''
A B C D
A B C D
A B C D
A B C D
'''
n=int(input())
i=1
while i<=n:
    j=ord('A') #Order of A
    while j<ord('A')+n:
        print(chr(j),end=' ') # chr is used to typecast integer into character
        j=j+1
    print()
    i=i+1

4
A B C D
A B C D
A B C D
A B C D

In [4]:
'''
A B C D
B C D E
C D E F
D E F G
'''
n=int(input())
i=65 #65 is ASCII code of A
while i<65+n:
    j=i
    while j<i+n:
        print(chr(j),end=' ')
        j=j+1
    print()
    i=i+1

4
A B C D
B C D E
C D E F
D E F G

In [13]:
'''
(10.) Alpha Pattern :-
Print the following pattern for the given N number of rows.
Pattern for N = 4
A
B B
C C C
D D D D
'''
n=int(input())
i=ord('A')
while i<=ord('A')+n-1:
    j=ord('A')
    while j<=i:
        print(chr(i),end=' ')
        j=j+1
    print()
    i=i+1

3
A
B B
C C C

In [20]:
'''
(11.) Character Pattern :-
Print the following pattern for the given N number of rows.
Pattern for N = 4
A
B C
C D E
D E F G
'''
n=int(input())
i=1
while i<=n:
    j=ord('A')+i-1
    while j<ord('A')+2*i-1:
        print(chr(j),end=' ')
        j=j+1
    print()
    i=i+1

4
A
B C
C D E
D E F G

In [3]:
'''
(12.) Interesting Alphabets :-
Print the following pattern for the given N number of rows.
Pattern for N = 5
E
D E
C D E
B C D E
A B C D E
'''
n=int(input())
i=n
while i>0:
    j=i
    while j<=n:
        print(chr(ord('A')+j-1),end=' ')
        j=j+1
    print()
    i=i-1

5
E
D E
C D E
B C D E
A B C D E

In [7]:
#Inverted Pattern
'''
* * * *
* * *
* *
*
'''
n=int(input())
i=1
while i<=n:
    j=n
    while j>=i:
        print("*",end=' ')
        j=j-1
    print()
    i=i+1

4
* * * *
* * *
* *
*

In [12]:
'''
(14.) Inverted Number Pattern :-
Print the following pattern for the given N number of rows.
Pattern for N = 4
4 4 4 4
3 3 3
2 2
1
'''
n=int(input())
i=n
while i>=1:
    j=1
    while j<=i:
        print(i,end=' ')
        j=j+1
    print()
    i=i-1

4
4 4 4 4
3 3 3
2 2
1

In [15]:
'''
Reversed Pattern :-
      *
    * *
  * * *
* * * *
'''
n=int(input())
i=1
while i<=n:
    k=1
    while k<=n-i:
        print(" ",end=' ')
        k=k+1
    j=1
    while j<=i:
        print("*",end=' ')
        j=j+1
    print()    
    i=i+1

4
      *
    * *
  * * *
* * * *

In [16]:
'''
(16.) Mirror Number Pattern :-
Print the following pattern for the given N number of rows.
Pattern for N = 4
      1
    1 2
  1 2 3
1 2 3 4
'''
n=int(input())
i=1
while i<=n:
    k=1
    while k<=n-i:
        print(" ",end=' ')
        k=k+1
    j=1
    while j<=i:
        print(j,end=' ')
        j=j+1
    print()    
    i=i+1

4
      1
    1 2
  1 2 3
1 2 3 4

In [22]:
'''
Isosceles Pattern :-
      1
    1 2 1
  1 2 3 2 1
1 2 3 4 3 2 1
'''
n=int(input())
i=1
while i<=n:
    k=1
    while k<=n-i:
        print(" ",end=' ')
        k=k+1
    j=1
    while j<=i:
        print(j,end=' ')
        j=j+1
    l=i-1
    while l>=1:
        print(l,end=' ')
        l=l-1
    print()
    i=i+1

4
      1
    1 2 1
  1 2 3 2 1
1 2 3 4 3 2 1

In [19]:
'''
(18.) Star Pattern :-
Print the following pattern for the given N number of rows.
Pattern for N = 4
      *
    * * *
  * * * * *
* * * * * * *
'''
n=int(input())
i=1
while i<=n:
    k=1
    while k<=n-i:
        print(" ",end=' ')
        k=k+1
    j=1
    l=1
    while j<=i*2-1:
        print("*",end=' ')
        j=j+1
    print()
    i=i+1

5
        *
      * * *
    * * * * *
  * * * * * * *
* * * * * * * * *

In [29]:
'''
(19.) Triangle of Numbers :-
Print the following pattern for the given N number of rows.
Pattern for N = 4
      1
    2 3 2
  3 4 5 4 3
4 5 6 7 6 5 4
'''
n=int(input())
i=1
while i<=n:
    k=1
    while k<=n-i:
        print(" ",end=' ')
        k=k+1
    j=i
    while j<=i*2-1:
        print(j,end=' ')
        j=j+1
    l=2*i-2
    while l>=i:
        print(l,end=' ')
        l=l-1
    print()
    i=i+1

4
      1
    2 3 2
  3 4 5 4 3
4 5 6 7 6 5 4

In [45]:
'''
(20.) Diamond of Stars :-
Print the following pattern for the given N number of rows.
Pattern for N = 4
      *
    * * *
  * * * * *
* * * * * * *
  * * * * *
    * * *
      *
'''
n=int(input())
i=1

#Printing Upper Triangle
while i<=n:
    k=1
    while k<=n-i:
        print(" ",end=' ')
        k=k+1
    j=1
    while j<=i*2-1:
        print("*",end=' ')
        j=j+1
    print()
    i=i+1

#Printing Lower Triangle
i=1
while i<=n-1:
    k=1
    while k<=i:
        print(" ",end=' ')
        k=k+1
    j=n*2-1
    while j>2*i:
        print("*",end=' ')
        j=j-1
    print()
    i=i+1

4
      *
    * * *
  * * * * *
* * * * * * *
  * * * * *
    * * *
      *