## Tuples :-
Tuples are simmilar to list used when we want to store multiple entries, it is created in small braces.

e.g e = 1,2 ----> It is considered as a tuple and prints as (1,2).

Tuple is immutable, i.e we can't change a Tuple (Update, add, remove) Elements.

In [2]:
a=(1,2)
print(a)
print(type(a))

(1, 2)
<class 'tuple'>

In [3]:
b,c=3,4
print (b,c)
e=5,6
print(e)
print(type(e))

3 4
(5, 6)
<class 'tuple'>

In [4]:
f=(1,2,3,4,5,6)
f[0:3]

(1, 2, 3)

## Tuples Functions :-

In [11]:
a=(1,2,3)
b=5,6

In [5]:
#for loops
for i in a:
    print(i)

1
2

In [8]:
1 in a

True

In [12]:
1 in b

False

In [13]:
c=a+b #Cocatenate tuples
c

(1, 2, 3, 5, 6)

In [14]:
d=(a,b) #Tuple of tuples
d

((1, 2, 3), (5, 6))

In [15]:
e=a*4 #Creating a new tuples in which all the elements are those many times
e

(1, 2, 3, 1, 2, 3, 1, 2, 3, 1, 2, 3)

In [16]:
min(a)

1

In [17]:
max(a)

3

In [18]:
a2=(1,2,"s",(1,2,3))
min(a2) #'<' not supported between instances of 'str' and 'int'

TypeError: '<' not supported between instances of 'str' and 'int'

In [20]:
#List to tuple
l=[1,2,3,4]
tuple(l)

(1, 2, 3, 4)

## Variable Length Input and Output :-
Variable Length input to a function

In [22]:
def sum(a,b):
    return a+b

sum(1,2,3,4)
#sum() takes 2 positional arguments but 4 were given

TypeError: sum() takes 2 positional arguments but 4 were given

In [29]:
def sum2(a,b,*more):
    print(a)
    print(b)
    print(type(more))
sum2(2,3)
# More takes all the input in form of a tuples, atleast 2 arguments are neccesary here
# Because we declared a and b

2
3
<class 'tuple'>

In [31]:
#Returning two things from a function also works in tuples
def sum_diff(a,b):
    return a+b, a-b
sum_diff(2,3)

(5, -1)

In [32]:
d,e=sum_diff(5,3) #Multiple values of tuple......assigning to multiple variables
print(d)
print(e)

8
2

## Dictonary Intro :-
Dictonary is way of storing a data in key value pairs.

e.g :- Frequency of elements of a list

Dictonaries are Mutable

In [ ]:
# a=[] -> List
# a=() -> Tuple
# a={} -> Dictonary (dict)

In [33]:
a={}
type(a)

dict

In [36]:
a={"the":2, "a":5, 100:"Str"}
print(a)
# dict{key:value}

{'the': 2, 'a': 5, 100: 'Str'}

In [37]:
len(a)

3

In [38]:
b=a.copy() #Copy contents of dictonary a to b
b

{'the': 2, 'a': 5, 100: 'Str'}

In [40]:
c=dict([("the",3),('a',2),(5,"Str")]) # Other way of creating a dictonary
c

{'the': 3, 'a': 2, 5: 'Str'}

In [46]:
#One more way to create a dictonary using fromkeys() method
d=dict.fromkeys(["abc",32,4,4], 10)
#If here 10 will not given then none will be printed for each value of key
d

{'abc': 10, 32: 10, 4: 10}

## Access Looping Elements in Dictonary :-

In [1]:
a={1:2, 3:4, "list":[1,23],"dict":{1:2}}
# 4 keys and 4 values
# There is no indexing in dictonary
# We can access a dictonary value as dict_name[key]
a

{1: 2, 3: 4, 'list': [1, 23], 'dict': {1: 2}}

In [2]:
a["list"]

[1, 23]

In [3]:
a.get(1) # Or, we can use get() method to access value of a key of dictonary

2

In [7]:
print(a.get("li",None)) # No error.....in case if key is not present then it returns none by default and we can also
# change it further

None

In [8]:
#To print all the keys of dictonary.....keys() method is used
a.keys()

dict_keys([1, 3, 'list', 'dict'])

In [10]:
#To print all the values of a dictonary....values() method is used
a.values()

dict_values([2, 4, [1, 23], {1: 2}])

In [11]:
#If we want to print all the key value pairs then items() method is used.
# it returns a list of tuples of all the key values pairs of the dictonary
a.items()

dict_items([(1, 2), (3, 4), ('list', [1, 23]), ('dict', {1: 2})])

In [13]:
#Using a for loop in dictonary
for i in a: #Print all the keys and values
    print(i, a[i])

1 2
3 4
list [1, 23]
dict {1: 2}

In [14]:
for i in a.values(): #Print all the values
    print(i)

2
4
[1, 23]
{1: 2}

In [15]:
#Checking a key is present in dictonary or not
"list" in a
# key_name in a....Returns Boolean

True

## Adding or Removing Data in Dictonary :-

In [18]:
a['tuple']=(1,2,3) #Adds a tuple to end of the dictonary
a

{1: 2, 3: 4, 'list': [1, 23], 'dict': {1: 2}, 'tuple': (1, 2, 3)}

In [19]:
#Changing the value of a key
#dict_name[exixting key]=updated value
a[1]=10
a

{1: 10, 3: 4, 'list': [1, 23], 'dict': {1: 2}, 'tuple': (1, 2, 3)}

In [21]:
# Updating a dictonary w.r.t an another dictonary, if something is common the value is updated
# Otherwise added in dictonary
b={3:5, "the":4, 2:100}
a.update(b)
a

{1: 10,
 3: 5,
 'list': [1, 23],
 'dict': {1: 2},
 'tuple': (1, 2, 3),
 'the': 4,
 2: 100}

In [22]:
# Removing a value from a dictonary....pop(_keyname) method is used
a.pop(2)
a
#If the key is non-existing in dictonary then it throws a keyerror

{1: 10, 3: 5, 'list': [1, 23], 'dict': {1: 2}, 'tuple': (1, 2, 3), 'the': 4}

In [23]:
#We can also use del method to remove a key from dictonary
del a[1] #del dict_name[key_name]
a

{3: 5, 'list': [1, 23], 'dict': {1: 2}, 'tuple': (1, 2, 3), 'the': 4}

In [24]:
#To remove everything from a dictonary clear() method is used
a.clear()
a

{}

In [ ]:
#To delete a dictonary del method is used
del a
a
#name 'a' is not defined

## Print All Words With Frequency K :-

In [34]:
s="this is a word string having many many word"
k=2

In [35]:
words = s.split()
words

['this', 'is', 'a', 'word', 'string', 'having', 'many', 'many', 'word']

In [36]:
words.sort()
words

['a', 'having', 'is', 'many', 'many', 'string', 'this', 'word', 'word']

In [37]:
d={}
for w in words:
    d[w]=d[w]+1  #Keyerror

KeyError: 'a'

In [39]:
d={}
for w in words:
    if w in d:
        d[w]=d[w]+1
    else:
        d[w]=1
#If the word present in dictonary then increase it's frequency else set the frequency 1
d

{'a': 1, 'having': 1, 'is': 1, 'many': 2, 'string': 1, 'this': 1, 'word': 2}

In [40]:
#Other Way
d={}
for w in words:
    d[w]=d.get(w,0)+1
d

{'a': 1, 'having': 1, 'is': 1, 'many': 2, 'string': 1, 'this': 1, 'word': 2}

In [41]:
for w in d:
    if d[w]==k:
        print(w)

many
word

In [42]:
def printKFreqWords(s,k):
    words=s.split()
    d={}
    for w in words:
        d[w]=d.get(w,0)+1
    for w in d:
        if d[w]==k:
            print(w)

In [44]:
printKFreqWords(s,k)

word
many

## 20. Highest Frequency Number :-
You are given an array of integers that contain numbers in random order. Write a program to find and return the number which occurs the maximum times in the given input.

If two or more elements contend for the maximum frequency, return the element which occurs in the array first.

In [45]:
def HighFreq(l):
    d={}
    for k in l:
        d[k]=d.get(k,0)+1
    Max=max(d.values())
    for k in d:
        if(d[k]==Max):
            return k
size=int(input())
l=[int(i) for i in input().split()]
print(HighFreq(l))

13
2 12 2 11 12 2 1 2 2 11 12 2 6
2

## 21. Maximum Distance :-
Given an array that might contain duplicate elements, find the maximum possible distance between occurrences of two repeating elements i.e. elements having same value. If there are no duplicate elements in the array, return 0.

## Sets Intro :-
Sets are not ordered, i.e no indexing.

it has some collection data to use.

It is basically used to find uniqueness.

In [3]:
a = {1,2,3,4,5,"apple","abc"}
a

{1, 2, 3, 4, 5, 'abc', 'apple'}

In [4]:
type(a)

set

In [6]:
for i in a:
    print(i)
print(len(a))

apple
1
2
3
4
5
abc
7

In [169]:
#To add an element in set we have to use add method
a.add("temp")
a

{1, 2, 3, 4, 5, 'abc', 'apple', 'temp'}

In [170]:
#To update a set w.r.t an another set we've to use update method
b={"abc","123"}
a.update(b)
a

{1, '123', 2, 3, 4, 5, 'abc', 'apple', 'temp'}

In [171]:
#To remove a value from a set we've to use remove method
#If we want to remove something that is not in set then we get a keyerror
a.remove("temp")
a

{1, '123', 2, 3, 4, 5, 'abc', 'apple'}

In [172]:
#To clear a set we've to use clear method
a.clear()
a

set()

In [173]:
#To delete a set the generic delete method is used
del a
a

NameError: name 'a' is not defined

In [175]:
a={1,2,3,"1bc","dc"}

In [176]:
#To remove something from a set discard method is also used.
#When we pass a value to discard which is not present in set, it returns None.
a.discard("1bc")
a

{1, 2, 3, 'dc'}

In [178]:
print(a.discard(a))

None

In [184]:
#pop() method is also used to remove an element from set
a.pop() #removes randomly anything
a

{2, 3, 'dc'}

## Functions in Sets :-
Like ;- Difference, union, intersection etc.

In [214]:
#union() method finds union of two sets
a={1,2,3,4}
b={4,5,6,7}
a.union(b)

{1, 2, 3, 4, 5, 6, 7}

In [199]:
#intersection() method finds intersection of two sets
a.intersection(b)

{4}

In [202]:
#difference() method find the difference of two sets. i.e, Everthing which is present in set a and not in set b
a.difference(b) #or, a-b

{1, 2, 3}

In [188]:
a-b

{1, 2, 3}

In [200]:
#Symmetric Diffrence is union-intersection of two sets
#For finding symmetric difference of two sets symmetric_difference() method is used
a.symmetric_difference(b)

{1, 2, 3, 5, 6, 7}

In [205]:
#intersection_update(), difference_update(), symmetric_difference_update() methods,
#First implement the set operation on set a w.r.t. set b and then update a to the resultant value
a.intersection_update(b)
a

{4}

In [209]:
a.difference_update(b)
a

{1, 2, 3}

In [212]:
a.symmetric_difference_update(b)
a

{1, 2, 3, 5, 6, 7}

In [215]:
#To check a set is subset of other or not, issubset() method is used. It returns boolean value.
a.issubset(b)

False

In [216]:
c={1,2}
c.issubset(a)

True

In [217]:
#To check a set is superset of other or not, issubset() method is used. It returns boolean value.
a.issuperset(c)

True

In [219]:
#To check two sets are disjoint of each other or not, isdisjoint() method is used. It returns boolean value.
a.isdisjoint(b)

False

## Sum of All Unique Numbers in List :-

In [222]:
l=[int(i) for i in input().split()]
s=set() #Creating an empty set
for i in l:
    s.add(i)
sum=0
for i in s:
    sum+=i
print(sum)

1 2 3 4 4 3 4 2 1 5 5
15