## Strings and Lists 
Strings are collection of characters whereas lists are collections of elements

Strings are immutable, that is it can not point anywhere we want

In [7]:
a="Pk"
print(type(a))
print(a[0])
print(type(a[0]))
a="Prashant"
print(a)

<class 'str'>
P
<class 'str'>
Prashant

In [8]:
for i in a:
    print(i,end='0')

P0r0a0s0h0a0n0t0

## String Inbuilt Functions :-

In [14]:
#Writing string in quotes -> Use Aphostrophy for single quote and double inverted comma within aphostrophy for double quote
print("\'Prashant Sagar Shakya\'")
print('"Prashant"')

#or,

print("\"Prashant\"")

'Prashant Sagar Shakya'
"Prashant"
"Prashant"

In [9]:
#Adding two strings
a="Prashant is a good boy"
b='He\'s a good singer also'
print(a+b)

Prashant is a good boyHe's a good singer also

In [10]:
# Comparision of strings or characters are done in lexical order or lexicographically
print(a==b, a>b, a<b)

False True False

In [210]:
#Split() method splits each word of string
a="this is a string"
a.split()

['this', 'is', 'a', 'string']

In [211]:
# Passing an argument to Split method means remove that specific character or sequence of character from the string
# and Split each word of string
a.split("is")

['th', ' ', ' a string']

In [223]:
# replace() method replace a specific character or sequence of character in string
a.replace("i","l") #replacing i to l, it will not modify the original string

'thls ls a strlng'

In [213]:
#find() method gives you the first occuring index of a character or a sequence of character in a string
a.find('a')

#If not found then returns -1

8

In [219]:
# lower() or upper() methods are used to lowercase or uppercase the whole string
a.upper()

False

In [217]:
a.lower()

'this is a string'

In [220]:
# islower() method checks whether a string is lowercase or not, it returns true or false, Same for isupper() method 
a.islower()

True

In [221]:
# isalpha() methods return true or false, if string contains only alphabets without spaces then returns true otherwise false
a.isalpha()

False

In [222]:
# startswith() method checks weather our string is starting with a given character or sequence of characters or not
a.startswith("this")

True

## String Slicing :-
A Part of a string known as slicing, it is used to find substring.
a[StartingIndex : EndIndex], a is string. start-> included and end -> excluded.
Indexing Starts From 0

In [1]:
a="this is a string"
a[5:9]

'is a'

In [2]:
a[2:]
#By default EndIndex = end or, n-1 where n is length of string

'is is a string'

In [3]:
a[:3]
#By default StartingIndex = start or, 0

'thi'

In [4]:
a[:]
#The whole string

'this is a string'

In [6]:
#Three arguments, a[Start:end:skip or stride]
a[2:10:2]
#skip by 2 every time

'i sa'

In [9]:
 a[2:10:-1]
#Start from 2 go to opposite side till 10, That's why an empty string

''

In [11]:
a[10:2:-1]
#To slice the string in opposite direction

's a si s'

In [14]:
#Replacing all specific character of a string with an specific character
'''
String = input()
a=input()
b=input()
String.replace(a,b)
'''

#Or, Without using the replace method.....with using find() method
#find() method gives the index of a character or sequence of characters

#Replacing first occurence of a to b

String=input()
a=input()
b=input()
p=String.find(a)
if p!= -1:
    ans=String[:p]+b+String[p+1:]
print(ans)

My name is prashant
a
d
My ndme is prashant

In [24]:
#Replacing all occurence of a to b
ans=input()
a=input()
b=input()
for i in range (0,len(ans)): #len() Method gives the length of string
    if ans[i]==a:
        ans=ans[:i]+b+ans[i+1:]
print(ans)

My name is khan
a
b
My nbme is khbn

## 10. Check Palindrome
Given a string, determine if it is a palindrome, considering only alphanumeric characters.

Palindrome :- A palindrome is a word, number, phrase, or other sequences of characters which read the same backwards and forwards.

In [2]:
a=input()
x=a[::-1] #skip or stride = -1, start=0, end=len of string
#it moves in opposite direction from len of string to 0 and store each character in x
if a==x:
    print("Palindrome")
else:
    print("Not Palindrome")

aba
Palindrome

##  11. Print All Substrings :-
For a given input string(str), write a function to print all the possible substrings.

Substring :- A substring is a contiguous sequence of characters within a string.

Example: "cod" is a substring of "coding". Whereas, "cdng" is not as the characters taken are not contiguous

In [1]:
a=input()
for i in range(0,len(a)):
    for j in range(0,len(a)):
        x=a[i:j+1]
        if(x==""):
            continue
        print(x)

abc
a
ab
abc
b
bc
c

## Introduction to Lists :-
Lists in python are denoted by [ ] or, list([ ]) whatever comes under these braces are known as list elements.

Data is accesses by using indexing from 0 to len(list), lists are mutable means you're able to chande the data

Size of list is dynamic and list datatype is any (not specific like c++ or java)

Each element of list is independent of other element

In [11]:
a=[1,2,3,4,5]
print(type(a))

<class 'list'>

In [12]:
a=list([1,2,3,4,5])
print(type(a))

<class 'list'>

In [16]:
a=[[1,2,3],'Pk',1,2]
print(a)

[[1, 2, 3], 'Pk', 1, 2]

In [21]:
#We can also create a list by using loops,
a=[5 for i in range(10)] #5 is stored in list of size 10 with indices 0 to 9
print(a)
print(a[0]) #Accessing 0th index

#i.e, for every i of list in range 10, add a 10

[5, 5, 5, 5, 5, 5, 5, 5, 5, 5]
5

In [25]:
a=[i for i in range(10)]
print(a)

#or,

a=[i*i for i in range (10)]
print(a)

[0, 1, 2, 3, 4, 5, 6, 7, 8, 9]
[0, 1, 4, 9, 16, 25, 36, 49, 64, 81]

## List Inbuilt functions :-

In [26]:
a=[1,2,3,4,5]
print(len(a)) #len() method gives length of the list

5

In [40]:
#Concatenation of lists :-
a=[1,2,3,4]
b=[5,5,6,7,8]
print(a+b) #or a.extend(b)
# The differenece is when we do a+b a new list is created.
# But when we do a.extend(b) the list a gets modified

[1, 2, 3, 4, 5, 5, 6, 7, 8]

In [15]:
print(a*3) #Prints the list a 3 times

[1, 2, 3, 4, 1, 2, 3, 4, 1, 2, 3, 4]

In [37]:
#add data to list
a.append(98) #adds 98 to last of list
print(a)

#add data to a particular index in list

#a.insert(index,value)

a.insert(3,45)
print(a)

[1, 2, 3, 98]
[1, 2, 3, 45, 98]

In [28]:
# Delete data from list
#Using remove method
# a.remove(value)
b.remove(5)
print(b)

# It only removes the first occurence of the value

[5, 6, 7, 8]

In [41]:
# To remove something from a specific index we've to use pop() method
# a.pop(index)
print(a.pop(3)) #It also returns what it removes
print(a)

4
[1, 2, 3]

In [43]:
# del is a generic python keyword which is used to delete anything in python
del a[2] #It doesn't return the deleted value as pop() method
print(a)

[1, 2]

In [46]:
a=[1,3,4,5,23,78,90,0,32]
a.sort() #Sorts the list in asscending order
print(a)

# max() method returns the greatest value of a list
print(max(a))

b=[1,2,0,"abc"] #if our list is not homogenous the max function throws an  error, same applies for sort() method
print(max(b))
# '>' not supported between instances of 'str' and 'int'

[0, 1, 3, 4, 5, 23, 32, 78, 90]
90

TypeError: '>' not supported between instances of 'str' and 'int'

In [48]:
a=[3,2,1,4,5,7,9]
#index() method is used to find index of a specific value passed to it
print(a.index(7))

#To find the value is exist in list or not we simply can do is.........
print(100 in a) #If it found then returns True else False

5
False

## Taking Input :-

Each element input in the different line

Each element input in the same line

or, e.g:-   #5 1 2 3 4 5, '5' denotes the size of list in same line and input of 5 elements in the same line

In [49]:
a=[2,3,4,5,6]

#To print a list
print(a)

for i in a:
    print(i,end=' ')

[2, 3, 4, 5, 6]
2 3 4 5 6

In [53]:
#Taking each input in different line
lis=[]
size=int(input())
for i in range(size):
    ne=int(input())
    lis.append(ne)
print(lis)

3
1
2
3
[1, 2, 3]

In [64]:
#Taking input of everything in the same line without having sizez 'n'
line=input()
print(line)

#using split() method to convert each value as element of an array or list

l=line.split()
print(l)

#Typecasting each character value to integer

a=[]
for i in l:
    a.append(int(i))
print(a)

1 2 3 4 5
1 2 3 4 5
['1', '2', '3', '4', '5']
[1, 2, 3, 4, 5]

In [65]:
l=['1','2','3']
a=[int(i) for i in l]
print(l)

['1', '2', '3']

In [66]:
lis=input().split()
#Takes input as a string and split it in character array
b=[int(i) for i in lis]
print(b)

1 2 3 4 5
[1, 2, 3, 4, 5]

In [69]:
a=[int(i) for i in input().split()] #now the input().split() decides the range
print(a)

1 2 3 4 5
[1, 2, 3, 4, 5]

In [75]:
size=int(input())
a=[int(i) for i in input().split()]
print(a)

5
1 2 3 4 5
[1, 2, 3, 4, 5]

In [80]:
# #5 1 2 3 4 5, '5' denotes the size of list in same line and input of 5 elements
# in the same line

a=[int(i) for i in input().split()]
size=a[0]
print(size)
del(a[0])
print(a)

5 1 2 3 4 5
5
[1, 2, 3, 4, 5]

## Difference of Even Odd :-
Sum all the even values and odd values and find differenece of even and odd

In [81]:
a=[int(i) for i in input().split()]
even=0
odd=0
for i in a:
    if(i%2==0):
        even+=i
    else:
        odd+=i
print(even-odd)

1 2 3 4 5
-3

## 22. Swap Alternate :-
You have been given an array/list(ARR) of size N. You need to swap every pair of alternate elements in the array/list.

You don't need to print or return anything, just change in the input array itself.

In [88]:
def SwapAlter():
    size=int(input())
    a=[int(i) for i in input().split()]
    for i in range(0,size-1,2):
        (a[i+1],a[i])=(a[i],a[i+1])
    print(a)

t=int(input())
for i in range(t):
    SwapAlter()

1
9
9 3 6 12 4 32 5 11 19
[3, 9, 12, 6, 32, 4, 11, 5, 19]

## 23. Array Equillibrium Index :-
For a given array/list(ARR) of size 'N,' find and return the 'Equilibrium Index' of the array/list.

Equilibrium Index of an array/list is an index 'i' such that the sum of elements at indices [0 to (i - 1)] is equal to the sum of elements at indices [(i + 1) to (N-1)].

One thing to note here is, the item at the index 'i' is not included in either part.

If more than one equilibrium indices are present, then the index appearing first in left to right fashion should be returned. Negative one(-1) if no such index is present.

In [92]:
def equillibrium(a,n,size):
    sum1=0
    sum2=0
    for i in range(0,n):
        sum1=sum1+a[i]
    for i in range(n+1,size):
        sum2=sum2+a[i]
    if(sum1==sum2):
        return True
    else:
        return False

def Equal():
    size=int(input())
    a=[int(i) for i in input().split()]
    for i in range(1,size):
        if(equillibrium(a,i,size)):
            print(i)
            break
    else:
        print(-1)
    
t=int(input())
for i in range(t):
    Equal()

1
7
2 3 10 -10 4 2 9
2

## 24. List Slicing :-
It works same as the string slicing, string[si:ei:skipper]

In [1]:
a=[1,2,3,4,5,"abc",34,0]
a

[1, 2, 3, 4, 5, 'abc', 34, 0]

In [2]:
a[0:3]

[1, 2, 3]

In [3]:
a[4:6]

[5, 'abc']

In [4]:
a[3:]

[4, 5, 'abc', 34, 0]

In [5]:
a[1::2]

[2, 4, 'abc', 0]

In [6]:
a[10:3:-1] #10 is no any index in list so it started from end

[0, 34, 'abc', 5]

In [8]:
a[:3:-1] # if we give -1 to skipper then it starts from end and go till 4th index in reverse order

[0, 34, 'abc', 5]

In [15]:
a[::-1] #Reverse order of list....By default end to start...It also changes the original List, creates a new list
a

[0, 34, 'abc', 5, 4, 3, 2, 1]

In [13]:
a.reverse() #It changes original list doesn't create a new list
a

[0, 34, 'abc', 5, 4, 3, 2, 1]

## Multi-Dimensional List 1 :-
e.g :- In python we can also put a list inside a list, it is called 2-D list or 2 dimensional list.

l=[1,2,3,4,"abc",[1,2],57]

A 2-D list means a m*n list, which generally means a list in which there are m lists each of size n, but in python there is no any specific multidimensional list

In [24]:
a=[[1,2,3,4],[5,6,7]]

In [26]:
print(a)
print(a[1]) #1st element is a list
print(a[0]) #0th element is a list
print(a[0][2]) #Prints 2nd indexed value of 0th list
print(len(a)) #Length of list is 2 because it contains only two lists in it
print(len(a[0])) #Length of list present at 0th index is 4
print(len(a[1])) #Length of list present at 1st index is 3

[[1, 2, 3, 4], [5, 6, 7]]
[5, 6, 7]
[1, 2, 3, 4]
3
2
4
3

In [32]:
#Taking Input :-
sizes = input().split()
m=int(sizes[0])
n=int(sizes[1])
l=[]
for i in range(m):
    next_row=[int(i) for i in input().split()]
    l.append(next_row)
l

2 3
1 2 3
4 6 5

[[1, 2, 3], [4, 6, 5]]

In [33]:
sizes = input().split()
m=int(sizes[0])
n=int(sizes[1])
l=[]
for i in range(m):
    next_row=[]
    for j in range(n):
        val=int(input())
        next_row.append(val)
    l.append(next_row)
l

2 3
1
2
3
4
5
6

[[1, 2, 3], [4, 5, 6]]

In [34]:
sizes = input().split()
m=int(sizes[0])
n=int(sizes[1])
l_1d=[int(i) for i in input().split()]
l=[]
for i in range(m):
    start=4*i
    end=n*(i+1)
    next_row=l_1d[start:end]
    l.append(next_row)
l

2 3
1 2 3 4 5 6

[[1, 2, 3], [5, 6]]

## Multi-Dimension List 2 :-

In [35]:
a=[[1,2,3,4],[5,6,7,8],[9,10,11,12],[13,14,15,16]]

In [36]:
a[1:3] #Print index 1 to index 2.....3 excluded

[[5, 6, 7, 8], [9, 10, 11, 12]]

In [38]:
a=[[1,2] for i in range(10)]
a

[[1, 2],
 [1, 2],
 [1, 2],
 [1, 2],
 [1, 2],
 [1, 2],
 [1, 2],
 [1, 2],
 [1, 2],
 [1, 2]]

In [40]:
sizes=input().split()
m=int(sizes[0])
n=int(sizes[1])
a=[[int(j) for j in input().split()]for i in range(m)]
a

5 6
1 2 3
4 5 6
7 8 9
1 1 1 1
11 22 33

[[1, 2, 3], [4, 5, 6], [7, 8, 9], [1, 1, 1, 1], [11, 22, 33]]

In [43]:
#Coulmn wise Sum
def col_sum(a):
    m=len(a)
    if(m!=0):
        n=len(a[0])
        for j in range(n):
            sum_j=0
            for i in range(m):
                sum_j=sum_j+a[i][j]
            print(sum_j,end=' ')
sizes=input().split()
m=int(sizes[0])
n=int(sizes[1])
a=[[int(j) for j in input().split()]for i in range(m)]
col_sum(a)

2 3
1 1 1
2 2 2
3 3 3

## 34. Row-Wise Sum :-
For a given two-dimensional integer array/list of size (N x M), find and print the sum of each of the row elements in a single line, separated by a single space.

In [44]:
def row_sum(a):
    m=len(a)
    if(m!=0):
        n=len(a[0])
        for i in range(m):
            sum=0
            for j in range(n):
                sum+=a[i][j]
            print(sum,end=' ')
sizes=input().split()
m=int(sizes[0])
n=int(sizes[1])
a=[[int(j) for j in input().split()]for i in range(m)]
row_sum(a)

2 5
4 5 3 2 6
7 5 3 8 9
20 32

## 35. Wave Print :-
For a given two-dimensional integer array/list of size (N x M), print the array/list in a sine wave order, i.e, print the first column top to bottom, next column bottom to top and so on.

In [46]:
def print_wave(a):
    m=len(a)
    if(m!=0):
        n=len(a[0])
        for j in range(n):
            for i in range(m):
                print(a[j][i],end=' ')
sizes=input().split()
m=int(sizes[0])
n=int(sizes[1])
a=[[int(j) for j in input().split()]for i in range(m)]
print_wave(a)

2 3
1 2 3
4 5 6
1 2 4 5

IndexError: list index out of range