# Patterns :-
How many rows, How many coulmns and What to print ?

In [10]:
'''
* * * *
* * * *
* * * *
* * * *
'''

n=int(input())
i=1
while i<=n:
    j=1
    while j<=n:
        print("*",end=' ')
        j=j+1
    print()
    i=i+1

4
* * * *
* * * *
* * * *
* * * *

## Square Patterns :-

In [11]:
'''
1 1 1 1
2 2 2 2
3 3 3 3
4 4 4 4
'''

n=int(input())
i=1
while i<=n:
    j=1
    while j<=n:
        print(i,end=' ')
        j=j+1
    print()
    i=i+1

4
1 1 1 1
2 2 2 2
3 3 3 3
4 4 4 4

In [12]:
'''
1 2 3 4
1 2 3 4
1 2 3 4
1 2 3 4
'''

n=int(input())
i=1
while i<=n:
    j=1
    while j<=n:
        print(j,end=' ')
        j=j+1
    print()
    i=i+1

4
1 2 3 4
1 2 3 4
1 2 3 4
1 2 3 4

In [13]:
'''
4 3 2 1
4 3 2 1
4 3 2 1
4 3 2 1
'''

n=int(input())
i=1
while i<=n:
    j=n
    while j>=1:
        print(j,end=' ')
        j=j-1
    print()
    i=i+1

4
4 3 2 1
4 3 2 1
4 3 2 1
4 3 2 1

In [20]:
'''
(4.) Square Pattern :-
Print the following pattern for the given N number of rows.
Pattern for N = 4
4 4 4 4
4 4 4 4
4 4 4 4
4 4 4 4
'''
n=int(input())
i=1
while i<=n:
    j=1
    while j<=n:
        print(n,end=' ')
        j=j+1
    print()
    i=i+1

4
4 4 4 4
4 4 4 4
4 4 4 4
4 4 4 4

## Triangular Pattern :-

In [15]:
'''
1
1 2
1 2 3
1 2 3 4
'''
n=int(input())
i=1
while i<=n:
    j=1
    while j<=i:
        print(j,end=' ')
        j=j+1
    print()
    i=i+1

4
1
1 2
1 2 3
1 2 3 4

In [16]:
'''
1
2 3
3 4 5
4 5 6 7
'''
n=int(input())
i=1
while i<=n:
    j=i
    while j<=2*i-1:
        print(j,end=' ')
        j=j+1
    print()
    i=i+1

4
1
2 3
3 4 5
4 5 6 7

In [19]:
'''
1
2 3
4 5 6
7 8 9 10
'''
n=int(input())
i=1
k=1
while i<=n:
    j=1
    while j<=i:
        print(k,end=' ')
        k=k+1
        j=j+1
    print()
    i=i+1

4
1
2 3
4 5 6
7 8 9 10

In [21]:
'''
(6.) Triangular Star Pattern :-
Print the following pattern for the given N number of rows.
Pattern for N = 4
*
* *
* * *
* * * *
'''
n=int(input())
i=1
while i<=n:
    j=1
    while j<=i:
        print("*",end=' ')
        j=j+1
    print()
    i=i+1

4
*
* *
* * *
* * * *

In [22]:
'''
(7.) Triangular Number Pattern :-
Print the following pattern for the given N number of rows.
Pattern for N = 4
1
2 2
3 3 3
4 4 4 4
'''
n=int(input())
i=1
while i<=n:
    j=1
    while j<=i:
        print(i,end=' ')
        j=j+1
    print()
    i=i+1

4
1
2 2
3 3 3
4 4 4 4

In [23]:
'''
(8.) Reverse Number Pattern :-
Print the following pattern for the given N number of rows.
Pattern for N = 4
1
2 1
3 2 1
4 3 2 1
'''
n=int(input())
i=1
while i<=n:
    j=i
    while j>=1:
        print(j,end=' ')
        j=j-1
    print()
    i=i+1

4
1
2 1
3 2 1
4 3 2 1

## Character Patterns

In [7]:
#Print Kth Alphabet

k=int(input())
x=ord('A') # ord('A') ----> Order of A gives ASCII calue of A
ascii_target=x+k-1
ascii_char = chr(ascii_target)
print(ascii_char)

4
D

In [9]:
'''
A B C D
A B C D
A B C D
A B C D
'''
n=int(input())
i=1
while i<=n:
    j=ord('A') #Order of A
    while j<ord('A')+n:
        print(chr(j),end=' ') # chr is used to typecast integer into character
        j=j+1
    print()
    i=i+1

4
A B C D
A B C D
A B C D
A B C D

In [4]:
'''
A B C D
B C D E
C D E F
D E F G
'''
n=int(input())
i=65 #65 is ASCII code of A
while i<65+n:
    j=i
    while j<i+n:
        print(chr(j),end=' ')
        j=j+1
    print()
    i=i+1

4
A B C D
B C D E
C D E F
D E F G